.profileCard {
    margin: 20px auto;
    width: 200px;
    padding-top: 20px;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 6px;
    box-shadow: 0.5px 1.5px 8px 0.5px var(--color-black);
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-gray-light);
}

.userName {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.tagName {
    margin-top: 8px;
    font-size: 16px;
    color: var(--color-gray);
}

.locationName {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-gray);
}

.statsList {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
}

.statsName {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid var(--color-gray);
    background-color: var(--color-gray-light);
    margin: 0;
    padding: 5px 5px 10px 5px;
}

.label {
    color: var(--color-gray);
    align-items: center;
}

.quantity {
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}